In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('transportation_modes_and_earnings.csv')
df.head()

                Transportation Mode      Earnings Bracket     Value
0  Car, Truck, or Van - Drove Alone  $1 to $9,999 or loss   9330559
1  Car, Truck, or Van - Drove Alone    $10,000 to $14,999   5144909
2  Car, Truck, or Van - Drove Alone    $15,000 to $24,999  10731449
3  Car, Truck, or Van - Drove Alone    $25,000 to $34,999  12977755
4  Car, Truck, or Van - Drove Alone    $35,000 to $49,999  19305876

Now let's Breakdown each bracket to see the most popular way each goes to work

Workers who earn up to and not including $10K in 2025 
--Drive alone, Carpooled, or worked from home.
Least of all Public Transportation

In [5]:
df_1 = df[df['Earnings Bracket']== '$1 to $9,999 or loss'].sort_values(by="Value", ascending=False)
df_1.head(10)

,Transportation Mode,Earnings Bracket,Value
0,"Car, Truck, or Van - Drove Alone","$1 to $9,999 or loss",9330559
8,"Car, Truck, or Van - Carpooled","$1 to $9,999 or loss",1969381
32,Worked from Home,"$1 to $9,999 or loss",1512479
24,"Taxicab, Motorcycle, Bicycle, Walked, or Other...","$1 to $9,999 or loss",1372898
16,Public Transportation (excluding taxicab),"$1 to $9,999 or loss",589616