In [2]:
import pandas as pd
import numpy as np

### Transportation by industry

In [3]:
df = pd.read_csv("transportation_and_industries.csv")
df.head()

,Transportation Mode,Industry,Value
0,"Car, Truck, or Van - Drove Alone","Agriculture, forestry, fishing and hunting, an...",1733974
1,"Car, Truck, or Van - Drove Alone",Construction,8311014
2,"Car, Truck, or Van - Drove Alone",Manufacturing,12160846
3,"Car, Truck, or Van - Drove Alone",Wholesale trade,2384439
4,"Car, Truck, or Van - Drove Alone",Retail trade,12536727

### Ranking of Transportation mode by value

In [8]:
#top 10 transporation modes by value
top_10_modes = df.groupby("Transportation Mode")["Value"].sum().nlargest(10)
top_10_modes.head()

Transportation Mode
Car, Truck, or Van - Drove Alone                        112376082
Worked from Home                                         22486510
Car, Truck, or Van - Carpooled                           14609627
Taxicab, Motorcycle, Bicycle, Walked, or Other Means      7227198
Public Transportation (excluding taxicab)                 5735258
Name: Value, dtype: int64

 Worked from home is second highest mode of transport to work despite post-covid RTOs.

In [12]:
#count unique industries
unique_industries = df["Industry"].nunique()
print(unique_industries)

13

In [14]:
#put industry to list and print first 5
industries_list = df["Industry"].unique().tolist()
print(industries_list)

['Educational services, and health care and social assistance', 'Retail trade', 'Manufacturing', 'Professional, scientific, and management, and administrative and waste management services', 'Arts, entertainment, and recreation, and accommodation and food services', 'Construction', 'Information and finance and insurance, and real estate and rental and leasing', 'Transportation and warehousing, and utilities', 'Public administration', 'Other services (except public administration)', 'Wholesale trade', 'Agriculture, forestry, fishing and hunting, and mining', 'Armed forces']

### Top 20 modes of transport by value

In [ ]:
#sum value of transporation modes by industry
industry_transportation_value = df.groupby(["Industry", "Transportation Mode"])["Value"].sum().reset_index().sort_values(by="Value", ascending=False)
industry_transportation_value.head(20)

,Industry,Transportation Mode,Value
21,"Educational services, and health care and soci...","Car, Truck, or Van - Drove Alone",27387805
51,Retail trade,"Car, Truck, or Van - Drove Alone",12536727
31,Manufacturing,"Car, Truck, or Van - Drove Alone",12160846
41,"Professional, scientific, and management, and ...","Car, Truck, or Van - Drove Alone",11199704
11,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Drove Alone",9694286
16,Construction,"Car, Truck, or Van - Drove Alone",8311014
26,"Information and finance and insurance, and rea...","Car, Truck, or Van - Drove Alone",7643133
56,"Transportation and warehousing, and utilities","Car, Truck, or Van - Drove Alone",7388572
44,"Professional, scientific, and management, and ...",Worked from Home,6207419
46,Public administration,"Car, Truck, or Van - Drove Alone",5616662
36,Other services (except public administration),"Car, Truck, or Van - Drove Alone",5395829
29,"Information and finance and insurance, and rea...",Worked from Home,4094017
24,"Educational services, and health care and soci...",Worked from Home,3799762
20,"Educational services, and health care and soci...","Car, Truck, or Van - Carpooled",3375506
61,Wholesale trade,"Car, Truck, or Van - Drove Alone",2384439
23,"Educational services, and health care and soci...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",1735786
1,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Drove Alone",1733974
10,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Carpooled",1726068
50,Retail trade,"Car, Truck, or Van - Carpooled",1716086
34,Manufacturing,Worked from Home,1682621

Carpooling is the 3rd top way people get to work. 
Education/health/social services feature a lot in the top 20. Most popular modes being Driving alone, carpooling, and Taxi/Motor/Bicycle/Walking

### Bottom 20 modes of transportation

In [40]:
industry_transportation_value.tail(20)

,Industry,Transportation Mode,Value
58,"Transportation and warehousing, and utilities","Taxicab, Motorcycle, Bicycle, Walked, or Other...",373410
38,Other services (except public administration),"Taxicab, Motorcycle, Bicycle, Walked, or Other...",364236
18,Construction,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",306059
4,"Agriculture, forestry, fishing and hunting, an...",Worked from Home,298386
0,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Carpooled",296407
57,"Transportation and warehousing, and utilities",Public Transportation (excluding taxicab),277706
47,Public administration,Public Transportation (excluding taxicab),266121
60,Wholesale trade,"Car, Truck, or Van - Carpooled",263890
37,Other services (except public administration),Public Transportation (excluding taxicab),263419
32,Manufacturing,Public Transportation (excluding taxicab),260671
17,Construction,Public Transportation (excluding taxicab),228302
48,Public administration,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",217701
8,Armed forces,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",165809
3,"Agriculture, forestry, fishing and hunting, an...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",152944
5,Armed forces,"Car, Truck, or Van - Carpooled",120835
63,Wholesale trade,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",99436
62,Wholesale trade,Public Transportation (excluding taxicab),73064
9,Armed forces,Worked from Home,60922
2,"Agriculture, forestry, fishing and hunting, an...",Public Transportation (excluding taxicab),35402
7,Armed forces,Public Transportation (excluding taxicab),15044

Least popular way people get to work is public transportation. Kinda surprised at this.
Least being the armed forces, Agrculture, and Wholesale.

In [35]:
#sum value of transporation modes by industry and sort by industry
industry_transportation_value_sorted = industry_transportation_value.sort_values(by=["Industry", "Value"], ascending=[True, False])
# Display the first 20 rows of the sorted DataFrame
industry_transportation_value_sorted.head(100)

,Industry,Transportation Mode,Value
1,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Drove Alone",1733974
4,"Agriculture, forestry, fishing and hunting, an...",Worked from Home,298386
0,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Carpooled",296407
3,"Agriculture, forestry, fishing and hunting, an...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",152944
2,"Agriculture, forestry, fishing and hunting, an...",Public Transportation (excluding taxicab),35402
...,...,...,...
61,Wholesale trade,"Car, Truck, or Van - Drove Alone",2384439
64,Wholesale trade,Worked from Home,480057
60,Wholesale trade,"Car, Truck, or Van - Carpooled",263890
63,Wholesale trade,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",99436
62,Wholesale trade,Public Transportation (excluding taxicab),73064

### Top 3 modes of transport in each industry

In [37]:
#sort industry_transportation_value_sorted only showing top 3 modes for each industry
top_3_modes_per_industry = industry_transportation_value_sorted.groupby("Industry").head(3).reset_index(drop=True)
# Display the top 3 modes for each industry
top_3_modes_per_industry.head(30)

,Industry,Transportation Mode,Value
0,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Drove Alone",1733974
1,"Agriculture, forestry, fishing and hunting, an...",Worked from Home,298386
2,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Carpooled",296407
3,Armed forces,"Car, Truck, or Van - Drove Alone",923091
4,Armed forces,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",165809
5,Armed forces,"Car, Truck, or Van - Carpooled",120835
6,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Drove Alone",9694286
7,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Carpooled",1726068
8,"Arts, entertainment, and recreation, and accom...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",1088849
9,Construction,"Car, Truck, or Van - Drove Alone",8311014
10,Construction,"Car, Truck, or Van - Carpooled",1423588
11,Construction,Worked from Home,839402
12,"Educational services, and health care and soci...","Car, Truck, or Van - Drove Alone",27387805
13,"Educational services, and health care and soci...",Worked from Home,3799762
14,"Educational services, and health care and soci...","Car, Truck, or Van - Carpooled",3375506
15,"Information and finance and insurance, and rea...","Car, Truck, or Van - Drove Alone",7643133
16,"Information and finance and insurance, and rea...",Worked from Home,4094017
17,"Information and finance and insurance, and rea...","Car, Truck, or Van - Carpooled",739354
18,Manufacturing,"Car, Truck, or Van - Drove Alone",12160846
19,Manufacturing,Worked from Home,1682621
20,Manufacturing,"Car, Truck, or Van - Carpooled",1487274
21,Other services (except public administration),"Car, Truck, or Van - Drove Alone",5395829
22,Other services (except public administration),Worked from Home,924257
23,Other services (except public administration),"Car, Truck, or Van - Carpooled",732610
24,"Professional, scientific, and management, and ...","Car, Truck, or Van - Drove Alone",11199704
25,"Professional, scientific, and management, and ...",Worked from Home,6207419
26,"Professional, scientific, and management, and ...","Car, Truck, or Van - Carpooled",1444296
27,Public administration,"Car, Truck, or Van - Drove Alone",5616662
28,Public administration,Worked from Home,954765
29,Public administration,"Car, Truck, or Van - Carpooled",492845

Based on the top 3 modes...I'm seeing a trend of either people are driving alone, working from home, or carpooling. I don't know why I expected public transportation to be higher. But Carpooling looks like the preference over public transport.

In [ ]:
#top 3 modes continued
top_3_modes_per_industry.tail(30)

,Industry,Transportation Mode,Value
9,Construction,"Car, Truck, or Van - Drove Alone",8311014
10,Construction,"Car, Truck, or Van - Carpooled",1423588
11,Construction,Worked from Home,839402
12,"Educational services, and health care and soci...","Car, Truck, or Van - Drove Alone",27387805
13,"Educational services, and health care and soci...",Worked from Home,3799762
14,"Educational services, and health care and soci...","Car, Truck, or Van - Carpooled",3375506
15,"Information and finance and insurance, and rea...","Car, Truck, or Van - Drove Alone",7643133
16,"Information and finance and insurance, and rea...",Worked from Home,4094017
17,"Information and finance and insurance, and rea...","Car, Truck, or Van - Carpooled",739354
18,Manufacturing,"Car, Truck, or Van - Drove Alone",12160846
19,Manufacturing,Worked from Home,1682621
20,Manufacturing,"Car, Truck, or Van - Carpooled",1487274
21,Other services (except public administration),"Car, Truck, or Van - Drove Alone",5395829
22,Other services (except public administration),Worked from Home,924257
23,Other services (except public administration),"Car, Truck, or Van - Carpooled",732610
24,"Professional, scientific, and management, and ...","Car, Truck, or Van - Drove Alone",11199704
25,"Professional, scientific, and management, and ...",Worked from Home,6207419
26,"Professional, scientific, and management, and ...","Car, Truck, or Van - Carpooled",1444296
27,Public administration,"Car, Truck, or Van - Drove Alone",5616662
28,Public administration,Worked from Home,954765
29,Public administration,"Car, Truck, or Van - Carpooled",492845
30,Retail trade,"Car, Truck, or Van - Drove Alone",12536727
31,Retail trade,"Car, Truck, or Van - Carpooled",1716086
32,Retail trade,Worked from Home,1436704
33,"Transportation and warehousing, and utilities","Car, Truck, or Van - Drove Alone",7388572
34,"Transportation and warehousing, and utilities",Worked from Home,796831
35,"Transportation and warehousing, and utilities","Car, Truck, or Van - Carpooled",790868
36,Wholesale trade,"Car, Truck, or Van - Drove Alone",2384439
37,Wholesale trade,Worked from Home,480057
38,Wholesale trade,"Car, Truck, or Van - Carpooled",263890

### Least 3 Popular Modes of Transport by Industry

In [38]:
#sort industry_transportation_value_sorted only showing top 3 modes for each industry
bottom_3_modes_per_industry = industry_transportation_value_sorted.groupby("Industry").tail(3).reset_index(drop=True)
# Display the top 3 modes for each industry
bottom_3_modes_per_industry.head(30)

,Industry,Transportation Mode,Value
0,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Carpooled",296407
1,"Agriculture, forestry, fishing and hunting, an...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",152944
2,"Agriculture, forestry, fishing and hunting, an...",Public Transportation (excluding taxicab),35402
3,Armed forces,"Car, Truck, or Van - Carpooled",120835
4,Armed forces,Worked from Home,60922
5,Armed forces,Public Transportation (excluding taxicab),15044
6,"Arts, entertainment, and recreation, and accom...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",1088849
7,"Arts, entertainment, and recreation, and accom...",Worked from Home,911367
8,"Arts, entertainment, and recreation, and accom...",Public Transportation (excluding taxicab),723895
9,Construction,Worked from Home,839402
10,Construction,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",306059
11,Construction,Public Transportation (excluding taxicab),228302
12,"Educational services, and health care and soci...","Car, Truck, or Van - Carpooled",3375506
13,"Educational services, and health care and soci...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",1735786
14,"Educational services, and health care and soci...",Public Transportation (excluding taxicab),1343056
15,"Information and finance and insurance, and rea...","Car, Truck, or Van - Carpooled",739354
16,"Information and finance and insurance, and rea...",Public Transportation (excluding taxicab),716423
17,"Information and finance and insurance, and rea...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",556490
18,Manufacturing,"Car, Truck, or Van - Carpooled",1487274
19,Manufacturing,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",448995
20,Manufacturing,Public Transportation (excluding taxicab),260671
21,Other services (except public administration),"Car, Truck, or Van - Carpooled",732610
22,Other services (except public administration),"Taxicab, Motorcycle, Bicycle, Walked, or Other...",364236
23,Other services (except public administration),Public Transportation (excluding taxicab),263419
24,"Professional, scientific, and management, and ...","Car, Truck, or Van - Carpooled",1444296
25,"Professional, scientific, and management, and ...",Public Transportation (excluding taxicab),970801
26,"Professional, scientific, and management, and ...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",852850
27,Public administration,"Car, Truck, or Van - Carpooled",492845
28,Public administration,Public Transportation (excluding taxicab),266121
29,Public administration,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",217701

### Second highest mode of transport

Goes to Working from home. Carpooling is right after

In [41]:
#second highest value transportation mode for each industry
second_highest_modes = industry_transportation_value_sorted.groupby("Industry").nth(1).reset_index()
# Display the second highest transportation mode for each industry
second_highest_modes.head(30)

,index,Industry,Transportation Mode,Value
0,4,"Agriculture, forestry, fishing and hunting, an...",Worked from Home,298386
1,8,Armed forces,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",165809
2,10,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Carpooled",1726068
3,15,Construction,"Car, Truck, or Van - Carpooled",1423588
4,24,"Educational services, and health care and soci...",Worked from Home,3799762
5,29,"Information and finance and insurance, and rea...",Worked from Home,4094017
6,34,Manufacturing,Worked from Home,1682621
7,39,Other services (except public administration),Worked from Home,924257
8,44,"Professional, scientific, and management, and ...",Worked from Home,6207419
9,49,Public administration,Worked from Home,954765
10,50,Retail trade,"Car, Truck, or Van - Carpooled",1716086
11,59,"Transportation and warehousing, and utilities",Worked from Home,796831
12,64,Wholesale trade,Worked from Home,480057

In [43]:
print(industries_list)

['Educational services, and health care and social assistance', 'Retail trade', 'Manufacturing', 'Professional, scientific, and management, and administrative and waste management services', 'Arts, entertainment, and recreation, and accommodation and food services', 'Construction', 'Information and finance and insurance, and real estate and rental and leasing', 'Transportation and warehousing, and utilities', 'Public administration', 'Other services (except public administration)', 'Wholesale trade', 'Agriculture, forestry, fishing and hunting, and mining', 'Armed forces']

In [50]:
df_wholesale = df[df["Industry"] == "Wholesale trade"].sort_values(by="Value", ascending=False)
df_wholesale.head()

,Transportation Mode,Industry,Value
3,"Car, Truck, or Van - Drove Alone",Wholesale trade,2384439
55,Worked from Home,Wholesale trade,480057
16,"Car, Truck, or Van - Carpooled",Wholesale trade,263890
42,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",Wholesale trade,99436
29,Public Transportation (excluding taxicab),Wholesale trade,73064

In [ ]:
#filter data for Retail trade industry and sort by Value
df_retail = df[df["Industry"] == "Retail trade"].sort_values(by="Value", ascending=False)
df_retail.head()

                                  Transportation Mode      Industry     Value
4                    Car, Truck, or Van - Drove Alone  Retail trade  12536727
17                     Car, Truck, or Van - Carpooled  Retail trade   1716086
56                                   Worked from Home  Retail trade   1436704
43  Taxicab, Motorcycle, Bicycle, Walked, or Other...  Retail trade    864633
30          Public Transportation (excluding taxicab)  Retail trade    561354

In [48]:
df_armed_forces = df[df["Industry"] == "Armed forces"].sort_values(by="Value", ascending=False)
df_armed_forces.head()

                                  Transportation Mode      Industry   Value
12                   Car, Truck, or Van - Drove Alone  Armed forces  923091
51  Taxicab, Motorcycle, Bicycle, Walked, or Other...  Armed forces  165809
25                     Car, Truck, or Van - Carpooled  Armed forces  120835
64                                   Worked from Home  Armed forces   60922
38          Public Transportation (excluding taxicab)  Armed forces   15044

In [46]:
df_eduhealth = df[df["Industry"] == "Educational services, and health care and social assistance"].sort_values(by="Value", ascending=False)
df_eduhealth.head()

,Transportation Mode,Industry,Value
8,"Car, Truck, or Van - Drove Alone","Educational services, and health care and soci...",27387805
60,Worked from Home,"Educational services, and health care and soci...",3799762
21,"Car, Truck, or Van - Carpooled","Educational services, and health care and soci...",3375506
47,"Taxicab, Motorcycle, Bicycle, Walked, or Other...","Educational services, and health care and soci...",1735786
34,Public Transportation (excluding taxicab),"Educational services, and health care and soci...",1343056

In [47]:
df_manufactring = df[df["Industry"] == "Manufacturing"].sort_values(by="Value", ascending=False)
df_manufactring.head()

                                  Transportation Mode       Industry     Value
2                    Car, Truck, or Van - Drove Alone  Manufacturing  12160846
54                                   Worked from Home  Manufacturing   1682621
15                     Car, Truck, or Van - Carpooled  Manufacturing   1487274
41  Taxicab, Motorcycle, Bicycle, Walked, or Other...  Manufacturing    448995
28          Public Transportation (excluding taxicab)  Manufacturing    260671

In [42]:
df_agriculture = df[df["Industry"] == "Agriculture, forestry, fishing and hunting"].sort_values(by="Value", ascending=False)
df_agriculture.head()

Empty DataFrame
Columns: [Transportation Mode, Industry, Value]
Index: []