In [2]:
import pandas as pd
import numpy as np

### Transportation by industry

In [3]:
df = pd.read_csv("transportation_and_industries.csv")
df.head()

,Transportation Mode,Industry,Value
0,"Car, Truck, or Van - Drove Alone","Agriculture, forestry, fishing and hunting, an...",1733974
1,"Car, Truck, or Van - Drove Alone",Construction,8311014
2,"Car, Truck, or Van - Drove Alone",Manufacturing,12160846
3,"Car, Truck, or Van - Drove Alone",Wholesale trade,2384439
4,"Car, Truck, or Van - Drove Alone",Retail trade,12536727

In [8]:
#top 10 transporation modes by value
top_10_modes = df.groupby("Transportation Mode")["Value"].sum().nlargest(10)
top_10_modes.head()

Transportation Mode
Car, Truck, or Van - Drove Alone                        112376082
Worked from Home                                         22486510
Car, Truck, or Van - Carpooled                           14609627
Taxicab, Motorcycle, Bicycle, Walked, or Other Means      7227198
Public Transportation (excluding taxicab)                 5735258
Name: Value, dtype: int64

In [12]:
#count unique industries
unique_industries = df["Industry"].nunique()
print(unique_industries)

13

In [14]:
#put industry to list and print first 5
industries_list = df["Industry"].unique().tolist()
print(industries_list)

['Educational services, and health care and social assistance', 'Retail trade', 'Manufacturing', 'Professional, scientific, and management, and administrative and waste management services', 'Arts, entertainment, and recreation, and accommodation and food services', 'Construction', 'Information and finance and insurance, and real estate and rental and leasing', 'Transportation and warehousing, and utilities', 'Public administration', 'Other services (except public administration)', 'Wholesale trade', 'Agriculture, forestry, fishing and hunting, and mining', 'Armed forces']

In [ ]:
#sum value of transporation modes by industry
industry_transportation_value = df.groupby(["Industry", "Transportation Mode"])["Value"].sum().reset_index().sort_values(by="Value", ascending=False)
industry_transportation_value.head(20)

,Industry,Transportation Mode,Value
21,"Educational services, and health care and soci...","Car, Truck, or Van - Drove Alone",27387805
51,Retail trade,"Car, Truck, or Van - Drove Alone",12536727
31,Manufacturing,"Car, Truck, or Van - Drove Alone",12160846
41,"Professional, scientific, and management, and ...","Car, Truck, or Van - Drove Alone",11199704
11,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Drove Alone",9694286
16,Construction,"Car, Truck, or Van - Drove Alone",8311014
26,"Information and finance and insurance, and rea...","Car, Truck, or Van - Drove Alone",7643133
56,"Transportation and warehousing, and utilities","Car, Truck, or Van - Drove Alone",7388572
44,"Professional, scientific, and management, and ...",Worked from Home,6207419
46,Public administration,"Car, Truck, or Van - Drove Alone",5616662
36,Other services (except public administration),"Car, Truck, or Van - Drove Alone",5395829
29,"Information and finance and insurance, and rea...",Worked from Home,4094017
24,"Educational services, and health care and soci...",Worked from Home,3799762
20,"Educational services, and health care and soci...","Car, Truck, or Van - Carpooled",3375506
61,Wholesale trade,"Car, Truck, or Van - Drove Alone",2384439
23,"Educational services, and health care and soci...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",1735786
1,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Drove Alone",1733974
10,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Carpooled",1726068
50,Retail trade,"Car, Truck, or Van - Carpooled",1716086
34,Manufacturing,Worked from Home,1682621

In [35]:
#sum value of transporation modes by industry and sort by industry
industry_transportation_value_sorted = industry_transportation_value.sort_values(by=["Industry", "Value"], ascending=[True, False])
# Display the first 20 rows of the sorted DataFrame
industry_transportation_value_sorted.head(100)

,Industry,Transportation Mode,Value
1,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Drove Alone",1733974
4,"Agriculture, forestry, fishing and hunting, an...",Worked from Home,298386
0,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Carpooled",296407
3,"Agriculture, forestry, fishing and hunting, an...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",152944
2,"Agriculture, forestry, fishing and hunting, an...",Public Transportation (excluding taxicab),35402
...,...,...,...
61,Wholesale trade,"Car, Truck, or Van - Drove Alone",2384439
64,Wholesale trade,Worked from Home,480057
60,Wholesale trade,"Car, Truck, or Van - Carpooled",263890
63,Wholesale trade,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",99436
62,Wholesale trade,Public Transportation (excluding taxicab),73064

In [37]:
#sort industry_transportation_value_sorted only showing top 3 modes for each industry
top_3_modes_per_industry = industry_transportation_value_sorted.groupby("Industry").head(3).reset_index(drop=True)
# Display the top 3 modes for each industry
top_3_modes_per_industry.head(30)

,Industry,Transportation Mode,Value
0,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Drove Alone",1733974
1,"Agriculture, forestry, fishing and hunting, an...",Worked from Home,298386
2,"Agriculture, forestry, fishing and hunting, an...","Car, Truck, or Van - Carpooled",296407
3,Armed forces,"Car, Truck, or Van - Drove Alone",923091
4,Armed forces,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",165809
5,Armed forces,"Car, Truck, or Van - Carpooled",120835
6,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Drove Alone",9694286
7,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Carpooled",1726068
8,"Arts, entertainment, and recreation, and accom...","Taxicab, Motorcycle, Bicycle, Walked, or Other...",1088849
9,Construction,"Car, Truck, or Van - Drove Alone",8311014
10,Construction,"Car, Truck, or Van - Carpooled",1423588
11,Construction,Worked from Home,839402
12,"Educational services, and health care and soci...","Car, Truck, or Van - Drove Alone",27387805
13,"Educational services, and health care and soci...",Worked from Home,3799762
14,"Educational services, and health care and soci...","Car, Truck, or Van - Carpooled",3375506
15,"Information and finance and insurance, and rea...","Car, Truck, or Van - Drove Alone",7643133
16,"Information and finance and insurance, and rea...",Worked from Home,4094017
17,"Information and finance and insurance, and rea...","Car, Truck, or Van - Carpooled",739354
18,Manufacturing,"Car, Truck, or Van - Drove Alone",12160846
19,Manufacturing,Worked from Home,1682621
20,Manufacturing,"Car, Truck, or Van - Carpooled",1487274
21,Other services (except public administration),"Car, Truck, or Van - Drove Alone",5395829
22,Other services (except public administration),Worked from Home,924257
23,Other services (except public administration),"Car, Truck, or Van - Carpooled",732610
24,"Professional, scientific, and management, and ...","Car, Truck, or Van - Drove Alone",11199704
25,"Professional, scientific, and management, and ...",Worked from Home,6207419
26,"Professional, scientific, and management, and ...","Car, Truck, or Van - Carpooled",1444296
27,Public administration,"Car, Truck, or Van - Drove Alone",5616662
28,Public administration,Worked from Home,954765
29,Public administration,"Car, Truck, or Van - Carpooled",492845

In [36]:
#second highest value transportation mode for each industry
second_highest_modes = industry_transportation_value_sorted.groupby("Industry").nth(1).reset_index()
# Display the second highest transportation mode for each industry
second_highest_modes.head(20)

,index,Industry,Transportation Mode,Value
0,4,"Agriculture, forestry, fishing and hunting, an...",Worked from Home,298386
1,8,Armed forces,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",165809
2,10,"Arts, entertainment, and recreation, and accom...","Car, Truck, or Van - Carpooled",1726068
3,15,Construction,"Car, Truck, or Van - Carpooled",1423588
4,24,"Educational services, and health care and soci...",Worked from Home,3799762
5,29,"Information and finance and insurance, and rea...",Worked from Home,4094017
6,34,Manufacturing,Worked from Home,1682621
7,39,Other services (except public administration),Worked from Home,924257
8,44,"Professional, scientific, and management, and ...",Worked from Home,6207419
9,49,Public administration,Worked from Home,954765
10,50,Retail trade,"Car, Truck, or Van - Carpooled",1716086
11,59,"Transportation and warehousing, and utilities",Worked from Home,796831
12,64,Wholesale trade,Worked from Home,480057

In [26]:
df.head()
df_retail = df[df["Industry"] == "Retail trade"].sort_values(by="Value", ascending=False)
df_retail.head()

                                  Transportation Mode      Industry     Value
4                    Car, Truck, or Van - Drove Alone  Retail trade  12536727
17                     Car, Truck, or Van - Carpooled  Retail trade   1716086
56                                   Worked from Home  Retail trade   1436704
43  Taxicab, Motorcycle, Bicycle, Walked, or Other...  Retail trade    864633
30          Public Transportation (excluding taxicab)  Retail trade    561354