In [2]:
import pandas as pd
import numpy as np

### Transportation by industry

In [3]:
df = pd.read_csv("transportation_and_industries.csv")
df.head()

,Transportation Mode,Industry,Value
0,"Car, Truck, or Van - Drove Alone","Agriculture, forestry, fishing and hunting, an...",1733974
1,"Car, Truck, or Van - Drove Alone",Construction,8311014
2,"Car, Truck, or Van - Drove Alone",Manufacturing,12160846
3,"Car, Truck, or Van - Drove Alone",Wholesale trade,2384439
4,"Car, Truck, or Van - Drove Alone",Retail trade,12536727

In [8]:
#top 10 transporation modes by value
top_10_modes = df.groupby("Transportation Mode")["Value"].sum().nlargest(10)
top_10_modes.head()

Transportation Mode
Car, Truck, or Van - Drove Alone                        112376082
Worked from Home                                         22486510
Car, Truck, or Van - Carpooled                           14609627
Taxicab, Motorcycle, Bicycle, Walked, or Other Means      7227198
Public Transportation (excluding taxicab)                 5735258
Name: Value, dtype: int64

In [ ]:
#