In [2]:
import requests
import pandas as pd

In [3]:
# Census api link
api_url = 'https://api.census.gov/data/2023/acs/acsse?get=group(K200802)&ucgid=0100000US'

try:  
    #make a request to the API
    response = requests.get(api_url)

    #raise an error for bad responses
    response.raise_for_status()

    #parse the JSON respons
    data = response.json()

    if data and len(data) > 1:
        column_names = data[0]
        data_rows = data[1:]

        df = pd.DataFrame(data_rows, columns=column_names)
        
        print("Succesffully retrieved data:")
          # Display the first few rows of the DataFrame
        df.info()  # Display DataFrame information
    else:
        print("No data found or the response is empty.")
except requests.exceptions.RequestException as e:
    print(f"An error occurred while fetching data from the API: {e}")
except ValueError as e:
    print(f"Error parsing JSON response: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Succesffully retrieved data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GEO_ID         1 non-null      object
 1   NAME           1 non-null      object
 2   K200802_001E   1 non-null      object
 3   K200802_001EA  0 non-null      object
 4   K200802_001M   1 non-null      object
 5   K200802_001MA  0 non-null      object
 6   K200802_002E   1 non-null      object
 7   K200802_002EA  0 non-null      object
 8   K200802_002M   1 non-null      object
 9   K200802_002MA  0 non-null      object
 10  K200802_003E   1 non-null      object
 11  K200802_003EA  0 non-null      object
 12  K200802_003M   1 non-null      object
 13  K200802_003MA  0 non-null      object
 14  K200802_004E   1 non-null      object
 15  K200802_004EA  0 non-null      object
 16  K200802_004M   1 non-null      object
 17  K200802_004MA  0 non-null      object
 18  K200802_005E   1 non-null      object
 19  K200802_005EA  0 non-null      object
 20  K200802_005M   1 non-null      object
 21  K200802_005MA  0 non-null      object
 22  ucgid          1 non-null      object
dtypes: object(23)
memory usage: 316.0+ bytes

In [4]:
df.head()

,GEO_ID,NAME,K200802_001E,K200802_001EA,K200802_001M,K200802_001MA,K200802_002E,K200802_002EA,K200802_002M,K200802_002MA,...,K200802_003MA,K200802_004E,K200802_004EA,K200802_004M,K200802_004MA,K200802_005E,K200802_005EA,K200802_005M,K200802_005MA,ucgid
0,0100000US,United States,139948165,None,145766,None,17483569,None,77779,None,...,None,40641128,None,134999,None,12503861,None,75748,None,0100000US

In [5]:
# Rename columns for clarity
rename_mapping = {
    'GEO_ID': 'Geographic Identifier',
    'NAME': 'Location Name',
    'K200802_001E': 'Travel Time to Work - Total Estimate',
    'K200802_001EA': 'Travel Time to Work - Total Estimate Annotation',
    'K200802_001M': 'Travel Time to Work - Total Margin of Error',
    'K200802_001MA': 'Travel Time to Work - Total MOE Annotation',
    'K200802_002E': 'Travel Time to Work - Less than 10 Min Estimate',
    'K200802_002EA': 'Travel Time to Work - Less than 10 Min Annotation',
    'K200802_002M': 'Travel Time to Work - Less than 10 Min MOE',
    'K200802_002MA': 'Travel Time to Work - Less than 10 Min MOE Annotation',
    'K200802_003E': 'Travel Time to Work - 10 to 29 Min Estimate',
    'K200802_003EA': 'Travel Time to Work - 10 to 29 Min Annotation',
    'K200802_003M': 'Travel Time to Work - 10 to 29 Min MOE',
    'K200802_003MA': 'Travel Time to Work - 10 to 29 Min MOE Annotation',
    'K200802_004E': 'Travel Time to Work - 30 to 59 Min Estimate',
    'K200802_004EA': 'Travel Time to Work - 30 to 59 Min Annotation',
    'K200802_004M': 'Travel Time to Work - 30 to 59 Min MOE',
    'K200802_004MA': 'Travel Time to Work - 30 to 59 Min MOE Annotation',
    'K200802_005E': 'Travel Time to Work - 60+ Min Estimate',
    'K200802_005EA': 'Travel Time to Work - 60+ Min Annotation',
    'K200802_005M': 'Travel Time to Work - 60+ Min MOE',
    'K200802_005MA': 'Travel Time to Work - 60+ Min MOE Annotation',
    'ucgid': 'Universal Geographic ID' # Or you could drop this if 'GEO_ID' is sufficient
}

df = df.rename(columns=rename_mapping)

print(df.columns.tolist())
df.head()

['Geographic Identifier', 'Location Name', 'Travel Time to Work - Total Estimate', 'Travel Time to Work - Total Estimate Annotation', 'Travel Time to Work - Total Margin of Error', 'Travel Time to Work - Total MOE Annotation', 'Travel Time to Work - Less than 10 Min Estimate', 'Travel Time to Work - Less than 10 Min Annotation', 'Travel Time to Work - Less than 10 Min MOE', 'Travel Time to Work - Less than 10 Min MOE Annotation', 'Travel Time to Work - 10 to 29 Min Estimate', 'Travel Time to Work - 10 to 29 Min Annotation', 'Travel Time to Work - 10 to 29 Min MOE', 'Travel Time to Work - 10 to 29 Min MOE Annotation', 'Travel Time to Work - 30 to 59 Min Estimate', 'Travel Time to Work - 30 to 59 Min Annotation', 'Travel Time to Work - 30 to 59 Min MOE', 'Travel Time to Work - 30 to 59 Min MOE Annotation', 'Travel Time to Work - 60+ Min Estimate', 'Travel Time to Work - 60+ Min Annotation', 'Travel Time to Work - 60+ Min MOE', 'Travel Time to Work - 60+ Min MOE Annotation', 'Universal Geographic ID']

,Geographic Identifier,Location Name,Travel Time to Work - Total Estimate,Travel Time to Work - Total Estimate Annotation,Travel Time to Work - Total Margin of Error,Travel Time to Work - Total MOE Annotation,Travel Time to Work - Less than 10 Min Estimate,Travel Time to Work - Less than 10 Min Annotation,Travel Time to Work - Less than 10 Min MOE,Travel Time to Work - Less than 10 Min MOE Annotation,...,Travel Time to Work - 10 to 29 Min MOE Annotation,Travel Time to Work - 30 to 59 Min Estimate,Travel Time to Work - 30 to 59 Min Annotation,Travel Time to Work - 30 to 59 Min MOE,Travel Time to Work - 30 to 59 Min MOE Annotation,Travel Time to Work - 60+ Min Estimate,Travel Time to Work - 60+ Min Annotation,Travel Time to Work - 60+ Min MOE,Travel Time to Work - 60+ Min MOE Annotation,Universal Geographic ID
0,0100000US,United States,139948165,None,145766,None,17483569,None,77779,None,...,None,40641128,None,134999,None,12503861,None,75748,None,0100000US

In [6]:
#drop columns that are not needed
df.drop(df.columns[df.columns.str.contains('Universal')], axis=1, inplace=True)
df.head()

,Geographic Identifier,Location Name,Travel Time to Work - Total Estimate,Travel Time to Work - Total Estimate Annotation,Travel Time to Work - Total Margin of Error,Travel Time to Work - Total MOE Annotation,Travel Time to Work - Less than 10 Min Estimate,Travel Time to Work - Less than 10 Min Annotation,Travel Time to Work - Less than 10 Min MOE,Travel Time to Work - Less than 10 Min MOE Annotation,...,Travel Time to Work - 10 to 29 Min MOE,Travel Time to Work - 10 to 29 Min MOE Annotation,Travel Time to Work - 30 to 59 Min Estimate,Travel Time to Work - 30 to 59 Min Annotation,Travel Time to Work - 30 to 59 Min MOE,Travel Time to Work - 30 to 59 Min MOE Annotation,Travel Time to Work - 60+ Min Estimate,Travel Time to Work - 60+ Min Annotation,Travel Time to Work - 60+ Min MOE,Travel Time to Work - 60+ Min MOE Annotation
0,0100000US,United States,139948165,None,145766,None,17483569,None,77779,None,...,156877,None,40641128,None,134999,None,12503861,None,75748,None

In [7]:
#pivot dataframe for easier analysis
df_pivot = df.melt(

    id_vars=['Location Name'],
    value_vars=[
        'Travel Time to Work - Total Estimate',
        'Travel Time to Work - Less than 10 Min Estimate',
        'Travel Time to Work - 10 to 29 Min Estimate',
        'Travel Time to Work - 30 to 59 Min Estimate',
        'Travel Time to Work - 60+ Min Estimate'
    ],
    var_name='Travel Time',
    value_name='Amount'

)

In [8]:

df_pivot.drop(df.columns[df.columns.str.contains('Location')], axis=1, inplace=True)

df_pivot.head()

                                       Travel Time     Amount
0             Travel Time to Work - Total Estimate  139948165
1  Travel Time to Work - Less than 10 Min Estimate   17483569
2      Travel Time to Work - 10 to 29 Min Estimate   69319607
3      Travel Time to Work - 30 to 59 Min Estimate   40641128
4           Travel Time to Work - 60+ Min Estimate   12503861

In [9]:
df_pivot = df_pivot.rename(columns={
    'Travel Time': 'US Travel Times to Work',
    'Amount': 'Total Workers'
})

In [10]:
#rename rows in the 'US Travel Times to Work' column
df_pivot['US Travel Times to Work'] = df_pivot['US Travel Times to Work'].replace({
    'Travel Time to Work - Total Estimate': 'Total Travel Time',
    'Travel Time to Work - Less than 10 Min Estimate': 'Less than 10 Minutes',
    'Travel Time to Work - 10 to 29 Min Estimate': '10 to 29 Minutes',
    'Travel Time to Work - 30 to 59 Min Estimate': '30 to 59 Minutes',
    'Travel Time to Work - 60+ Min Estimate': '60+ Minutes'
})

In [11]:
#remove total estimate row      
df_pivot = df_pivot.drop(index=[0])

In [12]:
df_pivot.head()
# Save the cleaned and pivoted DataFrame to a CSV file
df_pivot.to_csv('travel_times_to_work.csv', index=False)

In [13]:
df.drop(df.columns[df.columns.str.contains('MOE')], axis=1, inplace=True)
df.head()

,Geographic Identifier,Location Name,Travel Time to Work - Total Estimate,Travel Time to Work - Total Estimate Annotation,Travel Time to Work - Total Margin of Error,Travel Time to Work - Less than 10 Min Estimate,Travel Time to Work - Less than 10 Min Annotation,Travel Time to Work - 10 to 29 Min Estimate,Travel Time to Work - 10 to 29 Min Annotation,Travel Time to Work - 30 to 59 Min Estimate,Travel Time to Work - 30 to 59 Min Annotation,Travel Time to Work - 60+ Min Estimate,Travel Time to Work - 60+ Min Annotation
0,0100000US,United States,139948165,None,145766,17483569,None,69319607,None,40641128,None,12503861,None

### Means of Transportation to Work by Workers' Earnings in the Past 12 Months (in 2023 Inflation-Adjusted Dollars)
### Bar Chart

In [3]:
# Census api link
api_url = 'https://api.census.gov/data/2023/acs/acs1?get=group(C08119)&ucgid=0100000US'

try:  
    #make a request to the API
    response = requests.get(api_url)

    #raise an error for bad responses
    response.raise_for_status()

    #parse the JSON respons
    data2 = response.json()

    if data2 and len(data2) > 1:
        column_names = data2[0]
        data_rows = data2[1:]

        df_earnings = pd.DataFrame(data_rows, columns=column_names)
        
        print("Succesffully retrieved data:")
          # Display the first few rows of the DataFrame
        df_earnings.info()  # Display DataFrame information
    else:
        print("No data found or the response is empty.")
except requests.exceptions.RequestException as e:
    print(f"An error occurred while fetching data from the API: {e}")
except ValueError as e:
    print(f"Error parsing JSON response: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Succesffully retrieved data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Columns: 219 entries, C08119_001E to ucgid
dtypes: object(219)
memory usage: 1.8+ KB

In [4]:
df_earnings.head()

,C08119_001E,C08119_001EA,C08119_001M,C08119_001MA,C08119_002E,C08119_002EA,C08119_002M,C08119_002MA,C08119_003E,C08119_003EA,...,C08119_053EA,C08119_053M,C08119_053MA,C08119_054E,C08119_054EA,C08119_054M,C08119_054MA,GEO_ID,NAME,ucgid
0,162417601,None,156567,None,14774933,None,75361,None,7738093,None,...,None,23817,None,10502520,None,62911,None,0100000US,United States,0100000US

In [5]:
#renaming columns for clarity
rename_mapping = {
    'GEO_ID': 'Geographic Identifier',
    'NAME': 'Location Name',
    'ucgid': 'Universal Geographic ID'
}

# Define the common earnings brackets
earnings_brackets = {
    '_001': 'Total', # Only for the overall total count
    '_002': '$1 to $9,999 or loss',
    '_003': '$10,000 to $14,999',
    '_004': '$15,000 to $24,999',
    '_005': '$25,000 to $34,999',
    '_006': '$35,000 to $49,999',
    '_007': '$50,000 to $64,999',
    '_008': '$65,000 to $74,999',
    '_009': '$75,000 or more',
}

transportation_modes = {
    'C08119_001': 'Total Workers', # This is the overall total, not tied to a specific mode
    'C08119_010': 'Car, Truck, or Van - Drove Alone',
    'C08119_019': 'Car, Truck, or Van - Carpooled',
    'C08119_028': 'Public Transportation (excluding taxicab)',
    'C08119_037': 'Taxicab, Motorcycle, Bicycle, Walked, or Other Means',
    'C08119_046': 'Worked from Home',
}

columns_to_drop_annotations = [col for col in df_earnings.columns if col.endswith('EA') or col.endswith('MA')]
df_earnings_cleaned = df_earnings.drop(columns=columns_to_drop_annotations, axis=1)

print("--- Columns after dropping Annotation columns ---")
print(df_earnings_cleaned.columns.tolist())

--- Columns after dropping Annotation columns ---
['C08119_001E', 'C08119_001M', 'C08119_002E', 'C08119_002M', 'C08119_003E', 'C08119_003M', 'C08119_004E', 'C08119_004M', 'C08119_005E', 'C08119_005M', 'C08119_006E', 'C08119_006M', 'C08119_007E', 'C08119_007M', 'C08119_008E', 'C08119_008M', 'C08119_009E', 'C08119_009M', 'C08119_010E', 'C08119_010M', 'C08119_011E', 'C08119_011M', 'C08119_012E', 'C08119_012M', 'C08119_013E', 'C08119_013M', 'C08119_014E', 'C08119_014M', 'C08119_015E', 'C08119_015M', 'C08119_016E', 'C08119_016M', 'C08119_017E', 'C08119_017M', 'C08119_018E', 'C08119_018M', 'C08119_019E', 'C08119_019M', 'C08119_020E', 'C08119_020M', 'C08119_021E', 'C08119_021M', 'C08119_022E', 'C08119_022M', 'C08119_023E', 'C08119_023M', 'C08119_024E', 'C08119_024M', 'C08119_025E', 'C08119_025M', 'C08119_026E', 'C08119_026M', 'C08119_027E', 'C08119_027M', 'C08119_028E', 'C08119_028M', 'C08119_029E', 'C08119_029M', 'C08119_030E', 'C08119_030M', 'C08119_031E', 'C08119_031M', 'C08119_032E', 'C08119_032M', 'C08119_033E', 'C08119_033M', 'C08119_034E', 'C08119_034M', 'C08119_035E', 'C08119_035M', 'C08119_036E', 'C08119_036M', 'C08119_037E', 'C08119_037M', 'C08119_038E', 'C08119_038M', 'C08119_039E', 'C08119_039M', 'C08119_040E', 'C08119_040M', 'C08119_041E', 'C08119_041M', 'C08119_042E', 'C08119_042M', 'C08119_043E', 'C08119_043M', 'C08119_044E', 'C08119_044M', 'C08119_045E', 'C08119_045M', 'C08119_046E', 'C08119_046M', 'C08119_047E', 'C08119_047M', 'C08119_048E', 'C08119_048M', 'C08119_049E', 'C08119_049M', 'C08119_050E', 'C08119_050M', 'C08119_051E', 'C08119_051M', 'C08119_052E', 'C08119_052M', 'C08119_053E', 'C08119_053M', 'C08119_054E', 'C08119_054M', 'GEO_ID', 'NAME', 'ucgid']

In [6]:
# Identify columns that are not part of the pivot (ID variables)
id_vars = ['GEO_ID', 'NAME', 'ucgid']

# All other columns are your value variables (estimates and margins of error)
# These are the ones that were NOT dropped as annotations.
value_vars = [col for col in df_earnings_cleaned.columns if col not in id_vars]

df_long = pd.melt(df_earnings_cleaned,
                  id_vars=id_vars,
                  value_vars=value_vars,
                  var_name='Original_Column_Code', # This will hold C08119_XYZ_E or C08119_XYZ_M
                  value_name='Value' # This will hold the actual numeric data
                 )

print("\n--- Sample after initial melt ---")
print(df_long.head())

--- Sample after initial melt ---
      GEO_ID           NAME      ucgid Original_Column_Code      Value
0  0100000US  United States  0100000US          C08119_001E  162417601
1  0100000US  United States  0100000US          C08119_001M     156567
2  0100000US  United States  0100000US          C08119_002E   14774933
3  0100000US  United States  0100000US          C08119_002M      75361
4  0100000US  United States  0100000US          C08119_003E    7738093

In [7]:
# Create a dictionary for mapping the *start* of the original variable codes to mode names
# This is crucial for correctly identifying the mode
mode_code_to_name = {
    'C08119_001': 'Total Workers',
    'C08119_010': 'Car, Truck, or Van - Drove Alone',
    'C08119_019': 'Car, Truck, or Van - Carpooled',
    'C08119_028': 'Public Transportation (excluding taxicab)',
    'C08119_037': 'Taxicab, Motorcycle, Bicycle, Walked, or Other Means',
    'C08119_046': 'Worked from Home',
}

# Define the earnings brackets (same as before for lookup)
earnings_brackets_lookup = {
    '_001': 'Total',
    '_002': '$1 to $9,999 or loss',
    '_003': '$10,000 to $14,999',
    '_004': '$15,000 to $24,999',
    '_005': '$25,000 to $34,999',
    '_006': '$35,000 to $49,999',
    '_007': '$50,000 to $64,999',
    '_008': '$65,000 to $74,999',
    '_009': '$75,000 or more',
}

def parse_census_code_fixed(code):
    metric = 'Estimate' if code.endswith('E') else 'Margin of Error'
    base_code = code[:-1] # Remove 'E' or 'M'
    
    # Extract the main variable number (e.g., '001', '010', '011', '054')
    var_number_str = base_code.split('_')[-1] # Gets '001', '010', '011', etc.

    # Determine the Transportation Mode
    transportation_mode = 'Unknown Mode'
    earnings_bracket = 'Unknown Earnings Bracket'

    # The groups are 9 variables long. Calculate the group start to identify the mode.
    # C08119_001 is special (overall total)
    # C08119_010 is the start of Drove Alone group (010-018)
    # C08119_019 is the start of Carpooled group (019-027)
    # etc.
    
    var_num_int = int(var_number_str)

    if var_num_int >= 1 and var_num_int <= 9: # Overall totals for all modes
        transportation_mode = 'Total Workers'
        earnings_bracket = earnings_brackets_lookup.get(var_number_str, 'Unknown Earnings Bracket')
    elif var_num_int >= 10 and var_num_int <= 18: # Drove Alone
        transportation_mode = 'Car, Truck, or Van - Drove Alone'
        # Adjust index for earnings lookup (10 -> 001, 11 -> 002, etc.)
        earnings_bracket = earnings_brackets_lookup.get(f"_{var_num_int - 9:03d}", 'Unknown Earnings Bracket')
    elif var_num_int >= 19 and var_num_int <= 27: # Carpooled
        transportation_mode = 'Car, Truck, or Van - Carpooled'
        earnings_bracket = earnings_brackets_lookup.get(f"_{var_num_int - 18:03d}", 'Unknown Earnings Bracket')
    elif var_num_int >= 28 and var_num_int <= 36: # Public Transportation
        transportation_mode = 'Public Transportation (excluding taxicab)'
        earnings_bracket = earnings_brackets_lookup.get(f"_{var_num_int - 27:03d}", 'Unknown Earnings Bracket')
    elif var_num_int >= 37 and var_num_int <= 45: # Taxicab, etc.
        transportation_mode = 'Taxicab, Motorcycle, Bicycle, Walked, or Other Means'
        earnings_bracket = earnings_brackets_lookup.get(f"_{var_num_int - 36:03d}", 'Unknown Earnings Bracket')
    elif var_num_int >= 46 and var_num_int <= 54: # Worked from Home
        transportation_mode = 'Worked from Home'
        earnings_bracket = earnings_brackets_lookup.get(f"_{var_num_int - 45:03d}", 'Unknown Earnings Bracket')

    return transportation_mode, earnings_bracket, metric

# Apply the parsing function to create new columns
df_long[['Transportation Mode', 'Earnings Bracket', 'Metric']] = df_long['Original_Column_Code'].apply(lambda x: pd.Series(parse_census_code_fixed(x)))

# Drop the intermediate 'Original_Column_Code' column
df_long = df_long.drop(columns=['Original_Column_Code'])

# Rename the geographic columns for clarity
df_long = df_long.rename(columns={
    'GEO_ID': 'Geographic Identifier',
    'NAME': 'Location Name',
    'ucgid': 'Universal Geographic ID'
})

# Convert 'Value' column to numeric, handling potential errors
df_long['Value'] = pd.to_numeric(df_long['Value'], errors='coerce')


# Reorder columns for better readability
final_columns_order = [
    'Geographic Identifier',
    'Location Name',
    'Transportation Mode',
    'Earnings Bracket',
    'Metric',
    'Value',
    'Universal Geographic ID'
]
df_long = df_long[final_columns_order]

print("\n--- Final Pivoted (Long) Data with Correct Modes ---")
print(df_long.head(20)) # Show more rows to see different modes and earnings

--- Final Pivoted (Long) Data with Correct Modes ---
   Geographic Identifier  Location Name               Transportation Mode  \
0              0100000US  United States                     Total Workers
1              0100000US  United States                     Total Workers
2              0100000US  United States                     Total Workers
3              0100000US  United States                     Total Workers
4              0100000US  United States                     Total Workers
5              0100000US  United States                     Total Workers
6              0100000US  United States                     Total Workers
7              0100000US  United States                     Total Workers
8              0100000US  United States                     Total Workers
9              0100000US  United States                     Total Workers
10             0100000US  United States                     Total Workers
11             0100000US  United States                     Total Workers
12             0100000US  United States                     Total Workers
13             0100000US  United States                     Total Workers
14             0100000US  United States                     Total Workers
15             0100000US  United States                     Total Workers
16             0100000US  United States                     Total Workers
17             0100000US  United States                     Total Workers
18             0100000US  United States  Car, Truck, or Van - Drove Alone
19             0100000US  United States  Car, Truck, or Van - Drove Alone

            Earnings Bracket           Metric      Value  \
0   Unknown Earnings Bracket         Estimate  162417601
1   Unknown Earnings Bracket  Margin of Error     156567
2   Unknown Earnings Bracket         Estimate   14774933
3   Unknown Earnings Bracket  Margin of Error      75361
4   Unknown Earnings Bracket         Estimate    7738093
5   Unknown Earnings Bracket  Margin of Error      56547
6   Unknown Earnings Bracket         Estimate   15637693
7   Unknown Earnings Bracket  Margin of Error      74862
8   Unknown Earnings Bracket         Estimate   18195108
9   Unknown Earnings Bracket  Margin of Error      91696
10  Unknown Earnings Bracket         Estimate   26216625
11  Unknown Earnings Bracket  Margin of Error      85394
12  Unknown Earnings Bracket         Estimate   22147037
13  Unknown Earnings Bracket  Margin of Error      96007
14  Unknown Earnings Bracket         Estimate   10456921
15  Unknown Earnings Bracket  Margin of Error      57921
16  Unknown Earnings Bracket         Estimate   47251191
17  Unknown Earnings Bracket  Margin of Error     141628
18                     Total         Estimate  112367653
19                     Total  Margin of Error     148030

   Universal Geographic ID
0                0100000US
1                0100000US
2                0100000US
3                0100000US
4                0100000US
5                0100000US
6                0100000US
7                0100000US
8                0100000US
9                0100000US
10               0100000US
11               0100000US
12               0100000US
13               0100000US
14               0100000US
15               0100000US
16               0100000US
17               0100000US
18               0100000US
19               0100000US

In [10]:
df_long.head(40)

,Geographic Identifier,Location Name,Transportation Mode,Earnings Bracket,Metric,Value,Universal Geographic ID
0,0100000US,United States,Total Workers,Unknown Earnings Bracket,Estimate,162417601,0100000US
1,0100000US,United States,Total Workers,Unknown Earnings Bracket,Margin of Error,156567,0100000US
2,0100000US,United States,Total Workers,Unknown Earnings Bracket,Estimate,14774933,0100000US
3,0100000US,United States,Total Workers,Unknown Earnings Bracket,Margin of Error,75361,0100000US
4,0100000US,United States,Total Workers,Unknown Earnings Bracket,Estimate,7738093,0100000US
5,0100000US,United States,Total Workers,Unknown Earnings Bracket,Margin of Error,56547,0100000US
6,0100000US,United States,Total Workers,Unknown Earnings Bracket,Estimate,15637693,0100000US
7,0100000US,United States,Total Workers,Unknown Earnings Bracket,Margin of Error,74862,0100000US
8,0100000US,United States,Total Workers,Unknown Earnings Bracket,Estimate,18195108,0100000US
9,0100000US,United States,Total Workers,Unknown Earnings Bracket,Margin of Error,91696,0100000US
10,0100000US,United States,Total Workers,Unknown Earnings Bracket,Estimate,26216625,0100000US
11,0100000US,United States,Total Workers,Unknown Earnings Bracket,Margin of Error,85394,0100000US
12,0100000US,United States,Total Workers,Unknown Earnings Bracket,Estimate,22147037,0100000US
13,0100000US,United States,Total Workers,Unknown Earnings Bracket,Margin of Error,96007,0100000US
14,0100000US,United States,Total Workers,Unknown Earnings Bracket,Estimate,10456921,0100000US
15,0100000US,United States,Total Workers,Unknown Earnings Bracket,Margin of Error,57921,0100000US
16,0100000US,United States,Total Workers,Unknown Earnings Bracket,Estimate,47251191,0100000US
17,0100000US,United States,Total Workers,Unknown Earnings Bracket,Margin of Error,141628,0100000US
18,0100000US,United States,"Car, Truck, or Van - Drove Alone",Total,Estimate,112367653,0100000US
19,0100000US,United States,"Car, Truck, or Van - Drove Alone",Total,Margin of Error,148030,0100000US
20,0100000US,United States,"Car, Truck, or Van - Drove Alone","$1 to $9,999 or loss",Estimate,9330559,0100000US
21,0100000US,United States,"Car, Truck, or Van - Drove Alone","$1 to $9,999 or loss",Margin of Error,67779,0100000US
22,0100000US,United States,"Car, Truck, or Van - Drove Alone","$10,000 to $14,999",Estimate,5144909,0100000US
23,0100000US,United States,"Car, Truck, or Van - Drove Alone","$10,000 to $14,999",Margin of Error,41751,0100000US
24,0100000US,United States,"Car, Truck, or Van - Drove Alone","$15,000 to $24,999",Estimate,10731449,0100000US
25,0100000US,United States,"Car, Truck, or Van - Drove Alone","$15,000 to $24,999",Margin of Error,60251,0100000US
26,0100000US,United States,"Car, Truck, or Van - Drove Alone","$25,000 to $34,999",Estimate,12977755,0100000US
27,0100000US,United States,"Car, Truck, or Van - Drove Alone","$25,000 to $34,999",Margin of Error,75179,0100000US
28,0100000US,United States,"Car, Truck, or Van - Drove Alone","$35,000 to $49,999",Estimate,19305876,0100000US
29,0100000US,United States,"Car, Truck, or Van - Drove Alone","$35,000 to $49,999",Margin of Error,72004,0100000US
30,0100000US,United States,"Car, Truck, or Van - Drove Alone","$50,000 to $64,999",Estimate,16430128,0100000US
31,0100000US,United States,"Car, Truck, or Van - Drove Alone","$50,000 to $64,999",Margin of Error,79605,0100000US
32,0100000US,United States,"Car, Truck, or Van - Drove Alone","$65,000 to $74,999",Estimate,7673675,0100000US
33,0100000US,United States,"Car, Truck, or Van - Drove Alone","$65,000 to $74,999",Margin of Error,48512,0100000US
34,0100000US,United States,"Car, Truck, or Van - Drove Alone","$75,000 or more",Estimate,30773302,0100000US
35,0100000US,United States,"Car, Truck, or Van - Drove Alone","$75,000 or more",Margin of Error,104837,0100000US
36,0100000US,United States,"Car, Truck, or Van - Carpooled",Total,Estimate,14607910,0100000US
37,0100000US,United States,"Car, Truck, or Van - Carpooled",Total,Margin of Error,89328,0100000US
38,0100000US,United States,"Car, Truck, or Van - Carpooled","$1 to $9,999 or loss",Estimate,1969381,0100000US
39,0100000US,United States,"Car, Truck, or Van - Carpooled","$1 to $9,999 or loss",Margin of Error,31216,0100000US

In [ ]:
#drop columns that are not needed
df_long.drop(columns=['Universal Geographic ID','Location Name','Universal Geographic ID'], inplace=True)

In [13]:
df_long.drop(columns=['Geographic Identifier'], inplace=True)
df_long.head()

  Transportation Mode          Earnings Bracket           Metric      Value
0       Total Workers  Unknown Earnings Bracket         Estimate  162417601
1       Total Workers  Unknown Earnings Bracket  Margin of Error     156567
2       Total Workers  Unknown Earnings Bracket         Estimate   14774933
3       Total Workers  Unknown Earnings Bracket  Margin of Error      75361
4       Total Workers  Unknown Earnings Bracket         Estimate    7738093

In [ ]:
#remove rows by index 0 - 17
df_long = df_long.drop(index=range(0, 18))

KeyError: '[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17] not found in axis'

In [16]:
df_long.head(30)

,Transportation Mode,Earnings Bracket,Metric,Value
18,"Car, Truck, or Van - Drove Alone",Total,Estimate,112367653
19,"Car, Truck, or Van - Drove Alone",Total,Margin of Error,148030
20,"Car, Truck, or Van - Drove Alone","$1 to $9,999 or loss",Estimate,9330559
21,"Car, Truck, or Van - Drove Alone","$1 to $9,999 or loss",Margin of Error,67779
22,"Car, Truck, or Van - Drove Alone","$10,000 to $14,999",Estimate,5144909
23,"Car, Truck, or Van - Drove Alone","$10,000 to $14,999",Margin of Error,41751
24,"Car, Truck, or Van - Drove Alone","$15,000 to $24,999",Estimate,10731449
25,"Car, Truck, or Van - Drove Alone","$15,000 to $24,999",Margin of Error,60251
26,"Car, Truck, or Van - Drove Alone","$25,000 to $34,999",Estimate,12977755
27,"Car, Truck, or Van - Drove Alone","$25,000 to $34,999",Margin of Error,75179
28,"Car, Truck, or Van - Drove Alone","$35,000 to $49,999",Estimate,19305876
29,"Car, Truck, or Van - Drove Alone","$35,000 to $49,999",Margin of Error,72004
30,"Car, Truck, or Van - Drove Alone","$50,000 to $64,999",Estimate,16430128
31,"Car, Truck, or Van - Drove Alone","$50,000 to $64,999",Margin of Error,79605
32,"Car, Truck, or Van - Drove Alone","$65,000 to $74,999",Estimate,7673675
33,"Car, Truck, or Van - Drove Alone","$65,000 to $74,999",Margin of Error,48512
34,"Car, Truck, or Van - Drove Alone","$75,000 or more",Estimate,30773302
35,"Car, Truck, or Van - Drove Alone","$75,000 or more",Margin of Error,104837
36,"Car, Truck, or Van - Carpooled",Total,Estimate,14607910
37,"Car, Truck, or Van - Carpooled",Total,Margin of Error,89328
38,"Car, Truck, or Van - Carpooled","$1 to $9,999 or loss",Estimate,1969381
39,"Car, Truck, or Van - Carpooled","$1 to $9,999 or loss",Margin of Error,31216
40,"Car, Truck, or Van - Carpooled","$10,000 to $14,999",Estimate,914582
41,"Car, Truck, or Van - Carpooled","$10,000 to $14,999",Margin of Error,21288
42,"Car, Truck, or Van - Carpooled","$15,000 to $24,999",Estimate,1912526
43,"Car, Truck, or Van - Carpooled","$15,000 to $24,999",Margin of Error,30247
44,"Car, Truck, or Van - Carpooled","$25,000 to $34,999",Estimate,2128969
45,"Car, Truck, or Van - Carpooled","$25,000 to $34,999",Margin of Error,30774
46,"Car, Truck, or Van - Carpooled","$35,000 to $49,999",Estimate,2594555
47,"Car, Truck, or Van - Carpooled","$35,000 to $49,999",Margin of Error,31407

In [ ]:
#remove values that correspond to margin of error
df_long = df_long[~df_long['Metric'].str.contains('Margin of Error', na=False)]

In [18]:
#drop the 'Metric' column as it's no longer needed
df_long.drop(columns=['Metric'], inplace=True)

/var/folders/j5/3rry1w9s6819d90x12dk94gr0000gq/T/ipykernel_81177/4101907333.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_long.drop(columns=['Metric'], inplace=True)

In [20]:
df_long.head(30)

,Transportation Mode,Earnings Bracket,Value
18,"Car, Truck, or Van - Drove Alone",Total,112367653
20,"Car, Truck, or Van - Drove Alone","$1 to $9,999 or loss",9330559
22,"Car, Truck, or Van - Drove Alone","$10,000 to $14,999",5144909
24,"Car, Truck, or Van - Drove Alone","$15,000 to $24,999",10731449
26,"Car, Truck, or Van - Drove Alone","$25,000 to $34,999",12977755
28,"Car, Truck, or Van - Drove Alone","$35,000 to $49,999",19305876
30,"Car, Truck, or Van - Drove Alone","$50,000 to $64,999",16430128
32,"Car, Truck, or Van - Drove Alone","$65,000 to $74,999",7673675
34,"Car, Truck, or Van - Drove Alone","$75,000 or more",30773302
36,"Car, Truck, or Van - Carpooled",Total,14607910
38,"Car, Truck, or Van - Carpooled","$1 to $9,999 or loss",1969381
40,"Car, Truck, or Van - Carpooled","$10,000 to $14,999",914582
42,"Car, Truck, or Van - Carpooled","$15,000 to $24,999",1912526
44,"Car, Truck, or Van - Carpooled","$25,000 to $34,999",2128969
46,"Car, Truck, or Van - Carpooled","$35,000 to $49,999",2594555
48,"Car, Truck, or Van - Carpooled","$50,000 to $64,999",1792437
50,"Car, Truck, or Van - Carpooled","$65,000 to $74,999",737250
52,"Car, Truck, or Van - Carpooled","$75,000 or more",2558210
54,Public Transportation (excluding taxicab),Total,5734976
56,Public Transportation (excluding taxicab),"$1 to $9,999 or loss",589616
58,Public Transportation (excluding taxicab),"$10,000 to $14,999",315881
60,Public Transportation (excluding taxicab),"$15,000 to $24,999",629959
62,Public Transportation (excluding taxicab),"$25,000 to $34,999",661479
64,Public Transportation (excluding taxicab),"$35,000 to $49,999",778592
66,Public Transportation (excluding taxicab),"$50,000 to $64,999",596128
68,Public Transportation (excluding taxicab),"$65,000 to $74,999",294617
70,Public Transportation (excluding taxicab),"$75,000 or more",1868704
72,"Taxicab, Motorcycle, Bicycle, Walked, or Other...",Total,7225722
74,"Taxicab, Motorcycle, Bicycle, Walked, or Other...","$1 to $9,999 or loss",1372898
76,"Taxicab, Motorcycle, Bicycle, Walked, or Other...","$10,000 to $14,999",548786

In [22]:
#remove rows in 'Earnings Bracket' containing 'Total'
df_long = df_long[~df_long['Earnings Bracket'].str.contains('Total', na=False)]
df_long.head()

                 Transportation Mode      Earnings Bracket     Value
20  Car, Truck, or Van - Drove Alone  $1 to $9,999 or loss   9330559
22  Car, Truck, or Van - Drove Alone    $10,000 to $14,999   5144909
24  Car, Truck, or Van - Drove Alone    $15,000 to $24,999  10731449
26  Car, Truck, or Van - Drove Alone    $25,000 to $34,999  12977755
28  Car, Truck, or Van - Drove Alone    $35,000 to $49,999  19305876

In [23]:
df_long.to_csv('transportation_modes_and_earnings.csv', index=False)