In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('transportation_modes_and_earnings.csv')
df.head()

                Transportation Mode      Earnings Bracket     Value
0  Car, Truck, or Van - Drove Alone  $1 to $9,999 or loss   9330559
1  Car, Truck, or Van - Drove Alone    $10,000 to $14,999   5144909
2  Car, Truck, or Van - Drove Alone    $15,000 to $24,999  10731449
3  Car, Truck, or Van - Drove Alone    $25,000 to $34,999  12977755
4  Car, Truck, or Van - Drove Alone    $35,000 to $49,999  19305876